* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

.img1, .img2, .img3 {
    width: 90%;
    height: 90%;
    margin-left: 7%;
    margin-right: -4.5%;
}

.fondo {
    background-color:aquamarine;
}

.txt1, .txt2 {
    padding: 3%;
    margin-left: 2%;
    background-color: rgb(45, 45, 113);
    color: white;
    border-radius: 10px;
}

.title {
    text-align: center;
    padding: 1%;
    background-color: rgb(45, 45, 113);
    color: white;
    border-radius: 10px;
    margin-left:10%;
    margin-right:10%;
    margin-top: 1%;
    margin-BOTTOM: 1%;
}

.sub1 {
    text-align: center;
    padding: 1%;
    background-color: rgb(45, 45, 113);
    color: white;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-BOTTOM: 1%;
}

span {
    font-weight: 600;
}

.sub2 {
    text-align: center;
    padding: 1%;
    background-color: rgb(45, 45, 113);
    color: white;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.vid1, .vid2 {
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
}
